@font-face {
  font-family: 'Modern Gothic';
  src: url(../fonts/moderngothic-bold-webfont.woff2) format('woff2'),
    url(../fonts/moderngothic-bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Modern Gothic';
  src: url(../fonts/moderngothic-bolditalic-webfont.woff2) format('woff2'),
    url(../fonts/moderngothic-bolditalic-webfont.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Modern Gothic';
  src: url(../fonts/moderngothic-regular-webfont.woff2) format('woff2'),
    url(../fonts/moderngothic-regular-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Modern Gothic';
  src: url(../fonts/moderngothic-regularitalic-webfont.woff2) format('woff2'),
    url(../fonts/moderngothic-regularitalic-webfont.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: 'adobe-garamond-pro', serif;
  --font-secondary: 'Modern Gothic', sans-serif;
  --font-xxlg-resp: clamp(36px, calc(1rem + 8.5vw), 300px);
  --font-xlg-resp: clamp(36px, calc(1rem + 5.5vw), 300px);
  --font-lg-resp: clamp(36px, calc(1rem + 2.5vw), 100px);
  --font-md-resp: calc(1rem + 1vw);
  --font-sm-resp: clamp(8px, calc(0.75rem + 0.5vw), 18px);
  --font-xs-resp: clamp(8px, calc(0.5rem + 0.25vw), 16px);
  --spacing-lg: 4rem;
  --spacing-md: 2rem;
  --spacing-sm: 1rem;
  --spacing-xs: 0.5rem;
  --less-opacity: 0.5;
  --fast-transition: 400ms;
  --md-transition: 700ms;
  --slow-transition: 1.2s;
  --primary-weight: 300;
  --thin-weight: 100;
  --primary-line-height: 1.25;
  --body-max-width: clamp(590px, 50%, 1480px);
  --lofty-line-height: 1.35;
  --primary-margin: 3vw;
}

html {
  font-size: 18px;
  font-family: var(--font-primary);
  font-weight: var(--primary-weight);
  overflow-x: hidden;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  :root {
    --body-max-width: 100%;
  }
}

body {
  background-color: #fff;
}

main {
  min-height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  transition: all var(--fast-transition);
}

button:hover {
  opacity: var(--less-opacity);
  transition: all var(--fast-transition);
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  transition: all var(--fast-transition);
}

a:hover {
  opacity: var(--less-opacity);
  transition: all var(--fast-transition);
}

.faded {
  opacity: var(--less-opacity);
}

h2 {
  font-weight: var(--thin-weight);
  font-size: var(--font-md-resp);
  margin-bottom: var(--spacing-md);
}

p {
  font-size: var(--font-sm-resp);
}

.normal-margin {
  margin: var(--primary-margin);
}

/*
==========
Header
==========
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 3vw;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 200;
}

header div {
  width: 33%;
}

.header-logo {
  text-align: center;
  font-size: var(--font-lg-resp);
  opacity: 1;
  transition: all var(--fast-transition);
}

.header-logo-hide {
  opacity: 0;
  transition: all var(--fast-transition);
}

.header-menu {
  text-align: right;
  font-family: var(--font-secondary);
  position: relative;
}

.header-menu-button {
  position: absolute;
  margin-left: 2px;
}

.secondary-menu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.secondary-main,
.secondary-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondary-sub {
  margin-top: var(--spacing-md);
  font-size: var(--font-xs-resp);
}

.menu-show {
  height: 400px;
  opacity: 1;
  transition: opacity 600ms;
}

.menu-hide {
  height: 0px;
  opacity: 0;
  transition: all 400ms;
}

/*
==========
Footer
==========
*/

footer {
  background: #000;
  color: #fff;
}

.footer-link-container {
  display: flex;
  padding: 3vw;
  justify-content: space-between;
}

.footer-link-container a,
.footer-link-container button {
  text-align: center;
}

.footer-logo {
  text-align: center;
  font-size: 35vw;
}

.bottom-footer {
  display: flex;
  gap: var(--spacing-sm);
  padding: 3vw;
  padding-top: 0;
}

.email-pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-500%);
  background: white;
  width: auto;
  border: 2px solid white;
  color: #000;
  opacity: 0;
  z-index: 99999;
  transition: transform 1ms 1.2s, opacity 1s;
}

.email-pop-up-show {
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 400ms 200ms;
}

.email-pop-up-container {
  position: relative;
  padding: 100px;
}

.email-pop-up-close {
  position: absolute;
  top: 8px;
  left: 8px;
}

.email-pop-up-text {
  font-weight: 300;
  text-align: center;
  margin-bottom: var(--spacing-sm);
}

.email-pop-up-form {
  width: 250px;
  display: flex;
  border: 1px solid grey;
  background: white;
  padding: 2px 5px;
  margin: 0 auto;
}

.email-pop-up-form input[type='email'] {
  background: white;
  color: grey;
  margin: 0;
  padding: 0 5px;
  font-size: 16px;
  line-height: 16px;
  border: none;
  width: 100%;
  outline: 0 !important;
}

.email-pop-up-form input[type='email']::placeholder {
  color: grey;
  opacity: 1;
}

.email-submit-button {
  display: flex;
  align-items: center;
}

/*
==========
Case Study
==========
*/

.header-image,
.text-header,
.header-image-with-text {
  margin-bottom: var(--spacing-lg);
}

.header-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.header-image-image {
  min-width: 100%;
  min-height: 100%;
}

.text-header {
  padding: 3vw;
  text-align: center;
}

.text-header h1 {
  font-size: var(--font-xxlg-resp);
  font-weight: 400;
}

.text-header p,
.header-image-with-text-text p {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  margin-top: var(--spacing-md);
}

.header-image-with-text {
  display: flex;
  align-items: center;
}

.header-image-with-text-image {
  width: 50%;
}

.header-image-with-text-text {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.header-image-with-text-text h1 {
  font-weight: 400;
  font-size: var(--font-xlg-resp);
}

.header-image-caption {
  opacity: var(--less-opacity);
  font-family: var(--font-secondary);
  margin-left: var(--primary-margin);
  margin-top: 8px;
  font-size: var(--font-sm-resp);
}

.case-study-body {
  position: relative;
}

.case-study-left {
  position: absolute;
  left: var(--primary-margin);
  top: var(--spacing-lg);
}

.case-study-left div {
  margin-bottom: var(--spacing-md);
}

.module-text-container,
.audio-module-container {
  width: var(--body-max-width);
  margin: 0 auto;
}

.module-text-container h1 {
  text-align: center;
  font-weight: 400;
  font-size: var(--font-lg-resp);
  margin-bottom: var(--spacing-lg);
}

.audio-module-container {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.module-text-container p {
  margin-bottom: var(--spacing-sm);
}

.audio-module-container p {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  text-align: center;
}

.audio-description {
  font-size: var(--font-xs-resp);
}

.audio-player {
  width: 100%;
}

.rhap_container {
  box-shadow: none;
  background-color: transparent;
}

.rhap_time {
  color: #000;
}

.rhap_current-time {
  display: none;
}

.rhap_additional-controls,
.rhap_volume-controls {
  display: none;
}

.rhap_controls-section {
  flex: none;
}

.rhap_main-controls-button {
  color: #000;
}

.rhap_progress-bar {
  height: 1px;
  background-color: #000;
}

.rhap_progress-indicator {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  top: -4px;
  background: #000;
  border-radius: 50px;
  box-shadow: none;
}

.rhap_play-pause-button {
  font-size: 60px;
  width: 60px;
  height: 60px;
}

.rhap_progress-container {
  margin: 0 calc(10px + 1%) 0 0;
}

.rhap_horizontal-reverse .rhap_controls-section {
  margin-right: 4px;
}

.image-module-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
}

.image-module-1 {
  width: 100%;
}

.image-module-2 {
  width: 48%;
}

.image-module-3 {
  width: 31%;
}

.image-module-4 {
  width: 23%;
}

.video-module {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.module-video-player {
  position: absolute;
  top: 0;
  left: 0;
}

.module-play-btn {
  width: clamp(25px, 10%, 80px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.module-play-btn svg {
  width: 100%;
  height: 100%;
}

.projects-container {
  border-top: 1px solid #000;
  padding: 3vw;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}

.project-tile {
  width: calc(50% - 1.5vw);
}

.filter-container {
  padding-top: 100px;
  padding-left: 3vw;
}

.filter-categories {
  font-family: var(--font-secondary);
  display: flex;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.filter-categories-buttons {
  color: rgba(0, 0, 0, 0.5);
}

.filter-category-active {
  color: #000;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

.active-filter-button {
  font-style: italic;
  text-decoration: underline;
}

/*
--------
Loader
--------
*/

.lds-ring {
  display: inline-block;
  position: relative;
  left: calc(50% - 10px);
  margin-bottom: var(--spacing-sm);
  width: 20px;
  height: 20px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
=============== 
Home
===============
*/

.hero-container {
  overflow: hidden;
}

.hero-video-container {
  position: relative;
}

.hero-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  border: none;
}

.home-about-preview {
  display: flex;
  padding: 3vw;
  padding-top: 6vw;
}

.home-about-preview-section {
  width: 50%;
}

.home-about-headline {
  font-size: var(--font-lg-resp);
  font-style: italic;
  padding-right: var(--spacing-lg);
}

.home-about-excerpt p {
  font-size: var(--font-md-resp);
  line-height: var(--lofty-line-height);
  margin-bottom: var(--spacing-sm);
}

.learn-more-link {
  font-family: var(--font-secondary);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.featured-container {
  padding: 3vw;
}

.featured-container h2 {
  font-style: italic;
  font-size: var(--font-md-resp);
  margin-bottom: var(--spacing-sm);
}

.featured-tile-container {
  display: flex;
  gap: var(--spacing-md);
  flex-wrap: wrap;
}

.featured-tile-container a:hover {
  opacity: 1;
}

.featured-tile-container a h3,
.featured-tile-container a h4 {
  transition: all var(--fast-transition);
}

.featured-tile-container a:hover h3,
.featured-tile-container a:hover h4 {
  opacity: var(--less-opacity);
  transition: all var(--fast-transition);
}

.featured-half-page {
  width: calc(50% - (var(--spacing-md) / 2));
}

.featured-full-page {
  width: 100%;
}

.featured-image-full-page {
  min-width: 100%;
  aspect-ratio: 16 / 9;
}

.featured-image-half-page {
  min-width: 100%;
  aspect-ratio: 4 / 3;
}

.featured-tile-title {
  margin-top: var(--spacing-xs);
  font-weight: normal;
}

.featured-tile-subtitle {
  font-weight: normal;
  font-style: italic;
}

/*
=============== 
News
===============
*/

.news-page-title {
  font-size: var(--font-sm-resp);
  font-weight: normal;
  font-style: italic;
  padding-left: 3vw;
  padding-top: 100px;
  padding-bottom: var(--spacing-sm);
}

.news-outer-container {
  border-top: 1px solid #707070;
}

.news-main-row {
  display: flex;
  padding: var(--spacing-sm) 3vw;
}

.news-date {
  width: 10%;
}

.news-title {
  width: 20%;
}

.news-category {
  width: 15%;
}

.news-headline {
  width: 45%;
}

.news-headline h2 {
  font-weight: normal;
  font-size: var(--font-sm-resp);
  margin-bottom: 0;
}

.news-learn-more {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.news-secondary-row {
  display: flex;
  justify-content: flex-end;
  padding: 0 3vw;
  opacity: 0;
  transition: all 600ms;
  max-height: 0;
  overflow: hidden;
}

.news-secondary-show {
  padding: var(--spacing-sm) 3vw;
  opacity: 1;
  max-height: 800px;
  transition: all 600ms;
}

.news-expanded-text {
  width: 40%;
  padding-right: var(--spacing-sm);
}

.news-image {
  width: 20%;
}

.news-more-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.news-expanded-text-text {
  margin-bottom: var(--spacing-sm);
}

/*
=============== 
News
===============
*/

.press-container {
  padding: 3vw;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.press-item {
  width: calc(20% - var(--spacing-sm));
  margin-bottom: var(--spacing-md);
}

.press-item img {
  aspect-ratio: 1.5 / 2;
}

.press-date {
  font-style: italic;
  font-size: var(--font-xs-resp);
  padding-top: var(--spacing-xs);
}

.press-publication {
  font-style: italic;
  padding-top: var(--spacing-xs);
}

.press-link-out {
  display: flex;
  gap: var(--spacing-xs);
  font-size: var(--spacing-xs);
  align-items: center;
  padding-top: var(--spacing-xs);
}

.carousel-image {
  aspect-ratio: 1.5 / 2;
  margin-bottom: var(--spacing-xs);
}

.carousel-link {
  padding-right: var(--spacing-sm);
}

.carousel-subtitle {
  font-style: italic;
}

.featured-news-container {
  display: flex;
  justify-content: space-between;
}

.featured-news-link {
  width: 28%;
  padding: 6vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*
=============== 
About
===============
*/

.about-page {
  padding-top: 100px;
  width: clamp(200px, 75%, 1200px);
  margin: 0 auto;
}

.about-above-the-fold {
  display: flex;
  flex-direction: column;
  min-height: calc(95vh - 100px);
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: var(--spacing-md);
}

.about-above-the-fold p {
  font-size: var(--font-md-resp);
  text-align: center;
}

.about-section-title {
  font-size: var(--font-sm-resp);
  font-weight: normal;
  margin-bottom: var(--spacing-sm);
}

.about-studio-section-title {
  font-size: var(--font-sm-resp);
  font-weight: normal;
  margin-bottom: var(--spacing-sm);
  font-style: italic;
}

.about-section {
  margin-bottom: var(--spacing-lg);
}

.about-text p {
  font-size: calc(var(--spacing-sm) + 6px);
  margin-bottom: var(--spacing-sm);
}

.about-text {
  margin-bottom: var(--spacing-lg);
}

.about-services {
  display: flex;
  gap: var(--spacing-sm);
  width: 100%;
  margin-bottom: var(--spacing-lg);
}

.about-service-column {
  width: calc(25% - (var(--spacing-sm) / 3));
}

.about-service-title {
  font-size: var(--font-sm-resp);
  font-weight: normal;
  font-style: italic;
  margin-bottom: var(--spacing-xs);
}

.about-service-list {
  list-style: none;
  line-height: var(--lofty-line-height);
}

.four-column-container {
  list-style: none;
  column-count: 4;
  column-fill: balance;
  gap: var(--spacing-sm);
  line-height: var(--lofty-line-height);
}

.founders-container {
  display: flex;
  gap: var(--spacing-sm);
}

.founder {
  width: calc(50% - (var(--spacing-sm) / 2));
}

.founder-bio h3 {
  font-weight: normal;
  padding: var(--spacing-md) 0;
  font-size: var(--font-md-resp);
}

.collections-preface {
  width: calc(25% - (var(--spacing-sm) / 2));
  font-style: italic;
  padding-right: var(--spacing-sm);
}

.collections-container {
  display: flex;
  gap: var(--spacing-sm);
}

.collections-list {
  list-style: none;
  column-count: 3;
  gap: var(--spacing-sm);
  width: 75%;
}

.about-award {
  font-style: italic;
}

.talks-lectures p {
  margin-bottom: var(--spacing-md);
}

.press-link {
  display: flex;
  gap: var(--spacing-xs);
  font-style: italic;
}

.explore-container {
  width: clamp(200px, 55%, 1200px);
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: calc(var(--spacing-lg) + 100px);
  text-align: center;
}

.explore-container h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.explore-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  justify-content: center;
  font-size: var(--font-md-resp);
}

.explore-tag-container a::after {
  content: ',';
}

.explore-tag-container a:last-of-type:after {
  content: '';
}

.related-projects {
  padding: 3vw;
  padding-top: 100px;
}

.related-projects h2 {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: var(--font-lg-resp);
}

.related-projects-container {
  display: flex;
  gap: var(--spacing-sm);
}

.related-projects-container a {
  width: calc(33% - (var(--spacing-sm) / 2));
}

.related-img {
  aspect-ratio: 4 / 3;
  margin-bottom: var(--spacing-xs);
}
